@page {
    size: A5 landscape;
}

body {
    background-color: black;
}

.main {
    font-family: sans-serif;
    background-color: black;
    color: white;
}

.main .info {
    margin-left: 300px;
}

.main .info ls{
    display: inline;
    margin: 10px;
}

.main .ops ls {
    display: inline;
    font-family: sans-serif;
    font-size: 20px;
    padding-right: 50px;
}

.main .ops {
    margin-left: 300px;
}

.main .ops img {
    width: 30px;
    height: 30px;
}

.main .ops button {
    background: #444488;
    margin-left: 30px;
}

#screen {
    border:1px solid #ffffff;
}

.image img {
    visibility: hidden;
}